@charset"utf-8";

#navbar {
   background-color: #006a6c;
   /* バーの背景色 */
   border-top: 3px double #CEF6E3;
   /* バーの上端線 */
   border-bottom: 3px double #CEF6E3;
   /* バーの下端線 */
   min-width: 630px;
   /* メインメニュー全部が収まる最低横幅 */
}

#navbar ul#nav {
   margin: 0;
   /* メニューバー外側の余白 */
   padding: 0px;
   /* メニューバー内側の余白 */
   height: 40px;
   /* メニューバーの高さ */
}

#navbar ul#nav li {
   width: 14.18%;
   /* メニュー項目の横幅 */
   height: 40px;
   /* メニュー項目の高さ(「メニューバーの高さ」と一致させる) */
   float: left;
   list-style-type: none;
   position: relative;
   z-index: 100;
   border-right: 1px solid #CEF6E3;
}

#navbar ul#nav a {
   background-color: #006a6c;
   /* メニュー項目の背景色 */
   color: white;
   /* メニュー項目の文字色 */
   line-height: 40px;
   /* メニュー項目のリンクの高さ(「メニュー項目の高さ」と一致させる) */
   text-align: center;
   /* メインメニューの文字列の配置(中央寄せ) */
   text-decoration: none;
   /* メニュー項目の装飾(下線を消す) */
   display: block;
   width: 100%;
   height: 100%;
}

#navbar ul#nav a:hover {
   background-color: #88bfbf;
   /* メニュー項目にマウスが載ったときの背景色 */
   color: #006s6c;
   /* メニュー項目にマウスが載ったときの文字色 */
}


/* メニューバー直後のClearfix */

#navbar ul#nav {
   zoom: 1;
}

#navbar ul#nav:after {
   height: 0;
   visibility: hidden;
   content: ".";
   display: block;
   clear: both;
}

#navbar ul#nav ul.subnav {
   background-color: #006a6c;
   /* サブメニュー全体の背景色 */
   border-width: 1px 1px 0px 1px;
   /* サブメニュー全体の枠線の太さ */
   border-style: solid;
   /* サブメニュー全体の枠線の線種 */
   border-color: #CEF6E3;
   /* サブメニュー全体の枠線の色 */
   margin: 0px;
   padding: 0px;
   position: absolute;
}

#nav li > .subnav {
   display: none;
}

#nav li:hover > .subnav {
   display: block;
}

#navbar ul#nav ul.subnav li {
   width: 140px;
   /* サブメニュー1項目の横幅 */
   height: 35px;
   /* サブメニュー1項目の高さ */
   border-width: 0px 0px 1px 0px;
   /* サブメニュー1項目の枠線の太さ */
   border-style: solid;
   /* サブメニュー1項目の枠線の線種 */
   border-color: #CEF6E3;
   /* サブメニュー1項目の枠線の色 */
}

#navbar ul#nav ul.subnav li a {
   background-color: #fafafa;
   color: #006a6c;
   font: sans-serif;
   line-height: 35px;
   /* サブメニュー1項目の行の高さ(「サブメニュー1項目の高さ」と合わせる) */
   text-align: left;
   /* サブメニュー1項目の項目名の配置(左寄せ) */
   text-indent: 5px;
   /* サブメニュー1項目の項目名前方の余白 */
}

#navbar ul#nav ul.subnav li a:hover {
   background-color: #006a6c;
   /* サブメニュー項目にマウスが載ったときの背景色 */
   color: #fafafa;
}
